@charset "UTF-8";
/* CSS Document */

/* -------- 【PC】menu -------- */
.logo {
	font-size: 27px;
	width: 25%;
}
.menu-ul {
	width: 750px;
	height: 35px;
}
.menu-ul li{
	font-size: 16px;
	padding: 0 45px 0 0;
}
.menu-onlineshop li {
	padding-right: 25px;
}

/* -------- 【PC】article -------- */
article {
	width: 1000px;
}